.map-icon {
  position: absolute;
  top: 9.25rem;
  left: 0.99rem;
  width: 88.7rem;
  height: 55.94rem;
  object-fit: cover;
}

.background {
  position: absolute;
  bottom: 0;
  border-radius: 12px;
  left: calc(50% - 717.5px);
  background-color: rgba(48, 205, 189, 0.2);
  width: 90.69rem;
  height: 73.81rem;
}

.email-smileyecharitycom,
.phone-84-12367897 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 25.69rem;
  height: 4.31rem;
}
.phone-84-12367897 {
  left: 39.42rem;
}

.fb-icon,
.ig-icon,
.x-icon {
  position: absolute;
  object-fit: cover;
}

.x-icon {
  top: 0;
  left: 15.86rem;
  width: 5.76rem;
  height: 4.68rem;
}

.fb-icon,
.ig-icon {
  width: 4.66rem;
}

.ig-icon {
  top: 0.03rem;
  left: 7.64rem;
  height: 4.66rem;
}

.fb-icon {
  bottom: 0.01rem;
  left: calc(50% - 172.95px);
  height: 4.68rem;
}

.social-media {
  position: absolute;
  top: 60.5rem;
  left: 63.51rem;
  width: 21.62rem;
  height: 4.69rem;
}

.body {
  position: absolute;
}

*:focus {
  outline: none;
}
/* input {
  padding-left: 1em;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  font-size: 24px;
}

input::placeholder,
.textboxs {
  top: 12.56rem;
  left: 4.68rem;
  width: 76.2rem;
  height: 39.54rem;
  font-size: var(--font-size-5xl);
  color: var(--color-turquoise-100);
} */

.body {
  top: 14rem;
  width: 85%;
  display: flex;
  margin: 1em 7em;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bottom-line {
  margin-left: 0;
  width: 3em;
  height: 3px;
  background-color: #179498;
  border-radius: 12px;
}
.title,
.subtitle {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
.title {
  font-size: 36px;
  font-weight: 600;
}
.faqs-link {
  color: #30cdbd;
}
.subtitle {
  font-size: 14px;
}
.content {
  text-align: center;
  height: 100%;
  width: 1440px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
}
.block-grid-container {
  display: grid;
  grid-template-rows: auto auto;
}
.grid-item {
  width: 80%;
  margin-top: 3em;
  text-align: center;
}
.info-div {
  position: relative;
  box-shadow: 0px 1px 12px gray;
  border-radius: 6px;
  width: 26em;
  height: 5em;
  float: left;
  /* display: inline-block; */
  margin: 1em 0em;
}
.info-details,
.info-icon {
  width: 100%;
  margin: 6px 0;
}
.info-title {
  margin: 6px 0;
  font-weight: 600;
}
.info-details {
  text-align: left;
  margin-left: 6em;
  font-family: "Montserrat", sans-serif;
}
.info-icon {
  margin-top: 0 !important;
  float: left;
  position: absolute;
  width: 4em;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;

  background-color: #cffffa;
}
.textfield {
  width: 20em;
  height: 4em;
  border-radius: 6px;
  margin: 1em 0em;
  padding-left: 1em;
}
input[type="text"] {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  box-shadow: 0px 1px 6px gray;
}
.contact-us-div {
  margin-bottom: 3em;
}

.first-name,
.last-name {
  background: url(public/user-form-icon.png) no-repeat scroll 18.5em 1.5em;
}
.email {
  background: url(public/email-form-icon.png) no-repeat scroll 18.5em 1.5em;
}
.phone {
  background: url(public/phone-form-icon.png) no-repeat scroll 18.5em 1.5em;
}
.address {
  background: url(public/location-form-icon.png) no-repeat scroll 42em 1.5em;
}
.phone,
.email,
.first-name,
.last-name,
.address {
  background-size: 18px;
}
.message {
  background: url(public/message-form-icon.png) no-repeat scroll 42em 4em;
  background-size: 30px;
  height: 10em;
}
.basic-info-div {
  grid-gap: 1em 3em;
}
.add-info-textbox {
  width: 100%;
}

div.add-info-div.block-grid-container > div > div > input {
  width: 98%;
}
.submit {
  margin-top: 2em;
  position: relative;
  width: 8em;
  height: 4em;
  background-color: #30cdbd;
  border-radius: 6px;
}

.submit-btn {
  position: absolute;
  top: 1.25em;
  left: 2.5em;
  color: white;
  font-family: "Montserrat", sans-serif;

  text-align: center;
}

.icon-image {
  margin: 1.25em 0;
  width: 32px;
  height: 32px;
}

.info-textbox {
  margin: 12px 0;
  width: 100%;
  font-size: 12px;
}
.contact-info {
  margin: 2em 0;
}
.contact-us {
  position: absolute;
  top: 15.5rem;
  left: calc(50% - 271px);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33.88rem;
  height: 4.06rem;
  font-size: 6rem;
  letter-spacing: 0.02em;
  line-height: 145.3%;
  display: flex;
  font-family: var(--font-hind-vadodara);
  color: #000;
}

.button {
  position: relative;
  font-weight: 600;
}

.footer-ui1 {
  position: absolute;
  left: calc(50% - 44.5em) !important;
  top: 0;
  right: auto;
  align-self: center;
}

.contact {
  position: relative;
  width: 100%;
  height: 40em;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-sanchez);
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-work-sans: "Work Sans";
  --font-raleway: Raleway;
  --font-lato: Lato;
  --font-hind-vadodara: "Hind Vadodara";
  --font-sanchez: Sanchez;
  --font-assistant: Assistant;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-aliceblue: #e9f1f8;
  --color-darkslategray: #2e4049;
  --color-dimgray-100: #616161;
  --neutral-d-grey: #4d4d4d;
  --color-turquoise-100: #30cdbd;
  --dark: #09142f;
  --green-mid: #59d9cc;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-5xs: 8px;
  --br-3xs: 10px;
}
