.body {
  /* background-color: cadetblue; */
  margin: 2em 2em;
  position: absolute;
  display: block;
  top: 20em;
  left: calc(50% - 716px);
  font-size: 1em;
  color: white;
  height: 50em;
  width: 89.5em;
}
.ti {
  display: inline-block;
}
.np {
  display: block;
}

.image {
  float: right;
  margin: -12px 9em;
}
.inline-div {
  padding: 0 5em;
  display: inline-block;
}
.info-panel {
  padding: 2em 0;
}

.avt {
  border: 6px solid #59d9cc;
  width: 20em;
  padding: 5px;

  border-radius: 50%;
}
.info {
  margin-top: 10em;
}
.title {
  font-size: 24px;
  font-weight: bold;
}

.bio-info,
.social-info,
.story-info,
.education-info {
  margin-bottom: 0.5em;
}
.bio-info-block,
.social-info-block,
.story-info-block,
.education-info-block {
  margin: 16px 0.5em;
}
.bio-info-details,
.social-info-details,
.education-info-details,
.story-info-details {
  font-size: 16px;
  font-weight: 100;
}
.bio-block,
.social-block,
.story-block,
.education-block {
  border-radius: 2px;
  border-bottom: 6px solid #ffffff;
  font-size: 3.5em !important;
  word-spacing: 2px;
}
.bio-social {
  width: 25%;
  padding: 1em;
  background-color: #179498;
  border-radius: 12px;
}

.story-education {
  padding: 1em;
  margin: 0 3em;
  border-radius: 12px;
  position: absolute;

}
.story-block,.education-block{
  font-family: "Montserrat", sans-serif;
  border-radius: 3px;
  border-bottom: 6px solid #179498;
  color: #179498;
}
.story-info-details,.education-info-details{
  
  color: #666666;
  padding: 1em 0;
  word-spacing: 2px;
  font-weight: 600;
  font-size: 22px;
}
.education-info-time,.education-info-detail{
  font-family: 'Open Sans', sans-serif;
 font-size: 24px; 
  display: inline-block;
  color: #666666;
}

.education-info-detail{
   margin: 1em 0em 2em 4em
}
.education-info-time,.achievement{
  font-weight: bold;
}
body {
  position: relative;
  margin: 0;
  line-height: normal;
}
.footer1 {
  font-size: 14px;
  top: 18em;
}
.footer-ui1 {
  position: absolute;
  left: calc(50% - 44.5em) !important;
  top: 0;
  right: auto;
  align-self: center;
}

.social-media1{
  width: 20%;
}
.information1{
  width: 500px;
}
.faulconer-drive1{
  width: 100%;
}
.frame23{
  width: 100%;
}
.frame26{
  width: 650.5px;
}
.div10,.div11{
  left: 24.54%;
}
.fax1{
  left:47.12%
}
.text {
  font-family: "Montserrat", sans-serif;
  color: rgb(66, 62, 62);
  font-size: 3em;
  font-weight: bold;
}

.position {
  color: #666666;
  font-size: 2em;
  padding-top: 2em;
}
:root {
  /* fonts */
  --font-work-sans: "Work Sans";
  --font-raleway: Raleway;
  --font-lato: Lato;
  --font-hind-vadodara: "Hind Vadodara";
  --font-sanchez: Sanchez;
  --font-assistant: Assistant;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-aliceblue: #e9f1f8;
  --color-darkslategray: #2e4049;
  --color-dimgray-100: #616161;
  --neutral-d-grey: #4d4d4d;
  --color-turquoise-100: #30cdbd;
  --dark: #09142f;
  --green-mid: #59d9cc;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-5xs: 8px;
  --br-3xs: 10px;
}
