body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-work-sans: "Work Sans";
  --font-lato: Lato;
  --font-assistant: Assistant;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --gray: #616161;
  --neutral-d-grey: #4d4d4d;
  --color-gainsboro: #d9d9d9;
  --color-turquoise: #30cdbd;
  --dark: #09142f;
  --color-darkslategray: #2e4049;
  --color-aliceblue: #e9f1f8;

  /* Gaps */
  --gap-xl: 20px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-37xl: 56px;
  --padding-47xl-8: 66.8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-11xl: 30px;
}

.qa-contact-us {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  flex-shrink: 0;
}
.english {
  position: absolute;
  top: 4px;
  left: 11px;
  display: inline-block;
  width: 86px;
}
.language-1-1 {
  position: absolute;
  top: 7px;
  left: 104px;
  width: 24px;
  height: 23px;
  object-fit: cover;
}
.qa-contact-us-parent,
.switch-language {
  background-color: var(--color-aliceblue);
  overflow: hidden;
  flex-shrink: 0;
}
.switch-language {
  position: relative;
  border-radius: var(--br-5xs);
  width: 142px;
  height: 36px;
  text-align: left;
  color: var(--neutral-d-grey);
  font-family: var(--font-raleway);
}
.qa-contact-us-parent {
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  width: 1440px;
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 18px 66px 17px;
  box-sizing: border-box;
  gap: 28px;
}
.brown-and-yellow-charity-vecto {
  position: relative;
  width: 311px;
  height: 82px;
  object-fit: cover;
}
.home-achievements-founders {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 733.2px;
  height: 26px;
}
.button {
  position: relative;
  font-weight: 600;
}
.component-1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-turquoise);
  width: 177.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-37xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.header,
.home-achievements-founders-vol-parent,
.menu {
  width: 925px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
}
.header,
.menu {
  width: 1321px;
  height: 80px;
  justify-content: flex-start;
  gap: 63px;
}
.header {
  width: 1440px;
  height: 174px;
  flex-direction: column;
  gap: 23px;
}
.blue-orange-professional-chari {
  position: absolute;
  top: 0;
  left: 0;
  width: 1490px;
  height: 601px;
  object-fit: cover;
}
.blue-orange-professional-chari-wrapper {
  position: relative;
  width: 1440px;
  height: 601px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 31px;
}
.d-n-pht,
.time-112023- {
  position: relative;
  display: inline-block;
}
.d-n-pht {
  line-height: 52.9px;
  width: 594px;
}
.time-112023- {
  font-size: var(--font-size-lg);
  color: var(--color-black);
  width: 532px;
  height: 26.7px;
  flex-shrink: 0;
}
.text {
  width: 606px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 35px;
  color: var(--neutral-d-grey);
}
.lorem-ipsum-is,
.pitch-file {
  position: relative;
  display: inline-block;
  width: 549.9px;
  height: 83.1px;
  flex-shrink: 0;
}
.pitch-file {
  font-weight: 600;
  width: 93px;
  height: 23px;
}
.file {
  width: 197.8px;
  height: 23.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.funding1 {
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 24px;
}
.div,
.funding1,
.progress {
  position: absolute;
  top: 0;
}
.div {
  left: 406px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46.7px;
  height: 24px;
}
.progress {
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-turquoise);
  width: 268px;
  height: 8px;
}
.bar,
.frame2 {
  position: absolute;
  overflow: hidden;
}
.bar {
  top: 7.9px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro);
  width: 399px;
  height: 9px;
}
.frame2 {
  top: 1.9px;
  left: 113px;
  width: 452.7px;
  height: 24px;
}
.funding {
  position: relative;
  width: 565.7px;
  height: 25.9px;
  text-align: center;
  color: var(--gray);
  font-family: var(--font-work-sans);
}
.button1 {
  position: relative;
  font-weight: 600;
  display: none;
}
.component-8 {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: var(--br-5xs);
  background-color: var(--color-turquoise);
  width: 358.3px;
  height: 47.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-37xl);
  box-sizing: border-box;
}
.be-a-contributor {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 182.5px);
  font-size: var(--font-size-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 365px;
  height: 17.4px;
}
.join-us-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 365px;
  height: 47.2px;
}
.icons8-heart-50-1,
.icons8-share-60-1 {
  position: absolute;
  top: 2.3px;
  left: 56.9px;
  width: 37.7px;
  height: 39.4px;
  object-fit: cover;
}
.icons8-heart-50-1 {
  top: 0;
  left: 0;
  width: 44.9px;
  height: 44.1px;
}
.div1 {
  position: absolute;
  top: 42px;
  left: 3.3px;
  display: inline-block;
  width: 38px;
  height: 16px;
}
.icons8-heart-50-1-parent,
.icons8-share-60-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.9px;
  height: 58px;
}
.icons8-share-60-1-parent {
  top: 3.4px;
  left: 485px;
  width: 94.6px;
  text-align: left;
  font-size: 15px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.join-us-button-parent {
  position: relative;
  width: 579.6px;
  height: 61.4px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-lato);
}
.text-parent {
  width: 606px;
  height: 371px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.video-icon {
  position: relative;
  border-radius: 14px;
  width: 681px;
  height: 370px;
  object-fit: cover;
}
.first-section {
  align-self: stretch;
  background-color: #f5f7fa;
  height: 469px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 66.82266998291016px 100.2340087890625px 66.82266998291016px 73px;
  box-sizing: border-box;
}
.faulconer-drive {
  position: absolute;
  width: 88.98%;
  top: calc(50% - 9px);
  left: 11.31%;
  display: inline-block;
}
.round-place-24px-icon {
  position: absolute;
  height: 100%;
  width: 6.77%;
  top: 0;
  right: 93.23%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2,
.location {
  position: absolute;
}
.location {
  height: 18.38%;
  width: 76.97%;
  top: 0;
  right: 23.03%;
  bottom: 81.62%;
  left: 0;
  overflow: hidden;
}
.div2 {
  width: 68.27%;
  top: calc(50% - 9px);
  left: 32.54%;
  display: inline-block;
}
.round-phone-24px-icon {
  position: absolute;
  height: 100%;
  width: 19.5%;
  top: 0;
  right: 80.5%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div3,
.phone {
  position: absolute;
}
.phone {
  height: 100%;
  width: 33.33%;
  top: 0;
  right: 66.67%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.div3 {
  width: 67.18%;
  top: calc(50% - 9px);
  left: 32.02%;
  display: inline-block;
}
.fax,
.round-local-printshop-24px-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.round-local-printshop-24px-icon {
  width: 19.18%;
  right: 80.82%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.fax {
  width: 33.88%;
  right: 0;
  left: 66.12%;
}
.frame6,
.social-media {
  position: absolute;
  left: 0;
}
.frame6 {
  top: 0;
  width: 404.7px;
  height: 24px;
  overflow: hidden;
}
.social-media {
  width: 16.1%;
  top: calc(50% - 10.35px);
  display: inline-block;
  height: 23.6px;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.frame-icon {
  position: absolute;
  top: 0;
  left: 109.7px;
  width: 394.8px;
  height: 24px;
  overflow: hidden;
}
.social {
  top: 64px;
  left: 0;
  height: 26.5px;
}
.frame5,
.information,
.social {
  position: absolute;
  width: 504.5px;
}
.frame5 {
  top: 40px;
  left: 0;
  height: 90.6px;
  overflow: hidden;
}
.information {
  top: 22px;
  left: 585.5px;
  height: 130.6px;
}
.brown-and-yellow-charity-vecto1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 475px;
  height: 153px;
  object-fit: cover;
}
.frame4 {
  position: absolute;
  top: 70px;
  left: 4.5px;
  width: 1090.1px;
  height: 153px;
  overflow: hidden;
}
.frame-child {
  position: absolute;
  height: 0.59%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 99.41%;
  left: 0;
  background-color: #59d9cc;
}
.about-us,
.contact-us,
.help,
.legal,
.privacy-policy {
  position: absolute;
  width: 11.47%;
  top: calc(50% - 11.8px);
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  height: 23.6px;
}
.contact-us,
.help,
.legal,
.privacy-policy {
  width: 17.48%;
  left: 59.78%;
}
.contact-us,
.help,
.legal {
  width: 13.35%;
  left: 86.65%;
}
.contact-us,
.help {
  width: 14.1%;
  left: 20.86%;
}
.help {
  width: 6.02%;
  left: 44.35%;
}
.frame9 {
  top: 12.9px;
  width: 583.5px;
  height: 23.6px;
  overflow: hidden;
}
.frame-item,
.frame8,
.frame9 {
  position: absolute;
  left: 0;
}
.frame-item {
  height: 2.74%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 97.26%;
  background-color: #7bb9fc;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.frame8 {
  top: 300.1px;
  width: 1178px;
  height: 36.5px;
  overflow: hidden;
}
.footer,
.footer-ui,
.frame7 {
  position: absolute;
  top: 0;
  width: 1178px;
  height: 336.6px;
}
.frame7 {
  left: 0;
  overflow: hidden;
}
.footer,
.footer-ui {
  left: 130.5px;
}
.footer {
  top: 2468px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 366px;
  overflow: hidden;
}
.event-card-child,
.video-icon1 {
  position: absolute;
  top: 330.2px;
  left: -1px;
  width: 611px;
  height: 315px;
}
.video-icon1 {
  top: 66.2px;
  left: 0;
  border-radius: var(--br-xs);
  width: 608px;
  height: 301.5px;
  object-fit: cover;
}
.lorem-ipsum-is1 {
  position: absolute;
  top: 401.2px;
  left: 32.7px;
  display: inline-block;
  width: 560px;
  height: 84.6px;
}
.file1 {
  position: absolute;
  top: 506.9px;
  left: 32.3px;
  width: 201.5px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.chng-trnh-pht {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 481.2px;
  height: 29.3px;
}
.time-112023-1,
.title {
  position: absolute;
  left: 0;
  width: 541.8px;
}
.time-112023-1 {
  top: 29.3px;
  font-size: var(--font-size-lg);
  display: inline-block;
  height: 27.2px;
}
.title {
  top: 0;
  height: 56.4px;
  font-size: var(--font-size-3xl);
}
.achievements,
.fund {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 66px;
  height: 23px;
  flex-shrink: 0;
}
.achievements {
  width: 152px;
}
.file2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 269.9px;
  height: 24.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.detail-report {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 198px;
  height: 23px;
  flex-shrink: 0;
}
.file3 {
  position: absolute;
  top: 0;
  left: 275px;
  width: 201.5px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.file-parent {
  position: absolute;
  top: 562.2px;
  left: 35.6px;
  width: 476.4px;
  height: 24.4px;
}
.icons8-heart-50-11,
.icons8-share-60-11 {
  position: absolute;
  top: 2.2px;
  left: 73px;
  width: 38.4px;
  height: 40.1px;
  object-fit: cover;
}
.icons8-heart-50-11 {
  top: 0;
  left: 0;
  width: 41.8px;
  height: 41.8px;
}
.div4 {
  position: absolute;
  top: 39.7px;
  left: 4.1px;
  display: inline-block;
  width: 35.6px;
  height: 16.3px;
}
.icons8-heart-50-1-group,
.icons8-share-60-1-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 41.8px;
  height: 56px;
}
.icons8-share-60-1-group {
  top: 1px;
  left: 482px;
  width: 111.4px;
  font-size: var(--font-size-smi);
}
.event-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 608px;
  height: 645.2px;
}
.icons8-share-60-12 {
  position: absolute;
  top: 2.4px;
  left: 57.9px;
  width: 38.4px;
  height: 40.1px;
  object-fit: cover;
}
.icons8-share-60-1-container {
  position: absolute;
  top: 1px;
  left: 482px;
  width: 96.3px;
  height: 56px;
  font-size: var(--font-size-smi);
}
.event-card1,
.frame-card-events,
.frame-icon1 {
  position: absolute;
  top: 0;
  left: 670px;
  width: 608px;
  height: 645.2px;
}
.frame-card-events,
.frame-icon1 {
  top: 110.8px;
  left: 3px;
  width: 1278px;
}
.frame-icon1 {
  top: 0;
  left: 1164.2px;
  width: 139.8px;
  height: 87.2px;
  overflow: hidden;
}
.frame-inner,
.frame12 {
  position: absolute;
  top: 58.5px;
  left: 0;
  width: 1126.8px;
  height: 2.2px;
}
.frame12 {
  top: 0;
  height: 59.7px;
  overflow: hidden;
}
.events-performed,
.frame11 {
  position: absolute;
  left: 0;
  width: 1304px;
}
.frame11 {
  top: 0;
  height: 87.2px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
}
.events-performed {
  top: 1694px;
  height: 756px;
}
.event-card-inner,
.video-icon3 {
  position: absolute;
  top: 324.2px;
  left: -1.1px;
  width: 613.2px;
  height: 349.8px;
}
.video-icon3 {
  top: 64.6px;
  left: 0;
  border-radius: var(--br-xs);
  width: 610px;
  height: 296.5px;
  object-fit: cover;
}
.lorem-ipsum-is3 {
  position: absolute;
  top: 393.9px;
  left: 31.8px;
  display: inline-block;
  width: 544.9px;
  height: 83.1px;
}
.component-81,
.file7 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.file7 {
  top: 504.7px;
  left: 31.4px;
  width: 196px;
  height: 23.6px;
  gap: var(--gap-xl);
}
.component-81 {
  top: 0;
  left: 4.1px;
  border-radius: var(--br-5xs);
  background-color: var(--color-turquoise);
  width: 371.1px;
  height: 47.2px;
  padding: var(--padding-5xl) var(--padding-37xl);
  box-sizing: border-box;
}
.be-a-contributor1 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: calc(50% - 189px);
  font-size: var(--font-size-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 378px;
  height: 17.4px;
}
.join-us-button1 {
  position: absolute;
  top: 597px;
  left: 32px;
  width: 378px;
  height: 47.2px;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-lato);
}
.chng-trnh-pht2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 468.2px;
  height: 28.7px;
}
.time-112023-3 {
  top: 28.7px;
  left: 0;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 527.2px;
  height: 26.7px;
}
.bar1,
.time-112023-3,
.title2 {
  position: absolute;
}
.title2 {
  top: 0;
  left: 0;
  width: 527.2px;
  height: 55.4px;
  font-size: var(--font-size-3xl);
}
.bar1 {
  top: 9.7px;
  left: 117.4px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro);
  width: 455.2px;
  height: 9px;
  overflow: hidden;
}
.funding2,
.funding3 {
  position: absolute;
  height: 23.6px;
}
.funding3 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135.4px;
}
.funding2 {
  top: 547.3px;
  left: 4px;
  width: 572.6px;
  text-align: center;
  color: var(--gray);
  font-family: var(--font-work-sans);
}
.icons8-heart-50-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.div6 {
  position: absolute;
  top: 39px;
  left: 4px;
  display: inline-block;
  width: 35px;
  height: 16px;
}
.frame-div,
.icons8-heart-50-1-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 55px;
}
.frame-div {
  top: 597px;
  left: 482px;
  width: 94.6px;
  font-size: var(--font-size-smi);
}
.event-card2,
.event-card3 {
  position: absolute;
  top: 0;
  left: 656px;
  width: 610px;
  height: 674px;
}
.event-card3 {
  left: 0;
}
.frame-card-events1,
.upcoming-events {
  position: absolute;
  top: 96px;
  left: 3px;
  width: 1266px;
  height: 674px;
}
.upcoming-events {
  top: 846px;
  left: 0;
  width: 1304px;
  height: 770px;
}
.frame17,
.join-us {
  position: absolute;
  width: 72px;
}
.join-us {
  top: calc(50% - 29px);
  left: calc(50% - 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
}
.frame17 {
  top: 356px;
  left: 1163.1px;
  height: 58px;
  overflow: hidden;
}
.event-card4 {
  position: absolute;
  top: 0;
  left: 659px;
  width: 610px;
  height: 674px;
}
.event-card-child2 {
  position: absolute;
  top: 324.2px;
  left: 0;
  width: 612.1px;
  height: 349.8px;
}
.events-is-taking,
.frame-card-events2 {
  position: absolute;
  top: 96px;
  left: 0;
  width: 1269px;
  height: 674px;
}
.events-is-taking {
  top: 0;
  font-weight: 600;
  display: inline-block;
  width: 400.6px;
  height: 43px;
}
.events-is-taking-place {
  position: absolute;
  top: 0;
  left: 0;
  width: 1304px;
  height: 770px;
}
.frame18 {
  height: 770px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame13,
.frame16,
.frame18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1304px;
  overflow: hidden;
}
.frame16 {
  height: 770px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.frame13 {
  height: 1616px;
}
.events-performed-parent,
.frame10 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 1304px;
  height: 2450px;
}
.frame10 {
  left: 62px;
  width: 1316px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame3 {
  position: relative;
  width: 1440px;
  height: 2834px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
  color: var(--dark);
  font-family: var(--font-assistant);
}
.frame1,
.home {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame1 {
  width: 1440px;
  height: 3337px;
  flex-shrink: 0;
  gap: 34px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  gap: 2px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-work-sans);
}
